.header{
    margin: 2rem;
}

.wrapper-main{
    padding: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.player-section{
    padding: 2rem;
    padding-left: 5rem;
    text-align: center;
}

.players-header{
    margin-bottom: 1rem;
}

.info-section{
    padding: 2rem;
}

.btns{
    background-color: #603CBA;
    border: none;
    border-radius: 15px;
}

.player-card{
    margin: 1.5rem;
    display: flex;
    align-items: flex-start;
}